[Desktop Entry]
Version=1.0
Name=AT&T KornShell
Type=Application
Comment=Interactive UNIX command interpreter and POSIX compliant scripting language
Icon=utilities-terminal
Terminal=true
Exec=ksh93
Categories=ConsoleOnly;System;
GenericName=Shell
Keywords=system;shell;ksh;ksh93;ksh93u+m;korn;language;command;terminal;console;scripts
X-AppStream-Ignore=true
